@use "./colours" as *;

.header {
  font-family: "Roboto Slab", serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  box-shadow: 0px 0.25rem 1rem #aaa;
  margin-bottom: 2rem;
  font-weight: 500;

  position: fixed;
  top: 0;
  width: 90%;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  color: $blue;
  text-decoration: none;
  font-size: 1.2rem;
  margin-left: clamp(25px, 3rem, 72px);
  font-size: 20px;
}

.burger {
  display: none;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0.75rem 4%;
    width: 92%;
    margin-bottom: 1rem;
  }

  .logo {
    transform: scale(0.75) translateX(-15%);
  }

  .nav-list {
    display: none;
  }

  .burger {
    display: block;

    :hover {
      cursor: pointer;
    }
    .patty {
      width: 1.75rem;
      border: 2.5px solid $blue;
      margin: 5px;
      // margin-right: 15px;
      border-radius: 10px;
      background-color: $blue;
    }
  }
}
