@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap');

// Colour variables
$blue: #3850A0;
$white: #F2F2F2;

.header {
  font-family: 'Roboto Slab', serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  box-shadow: 0px 0.25rem 1rem #999;
  margin-bottom: 2rem;
  font-weight: 500;
  background: $white;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;

}

.nav-item {
  color: $blue;
  text-decoration: none;
  font-size: 1.2rem;
  margin-left: 3rem;
  font-size: 20px;
}
